* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #8fa7ed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #333;
    color: #fff;
}

.logo {
    width: 80px;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
}

.logo img {
    max-width: 50%;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    width: 100%;
}

.left-menu, .right-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.right-menu{
    float: right;
}
.left-menu li, .right-menu li {
    margin-right: 20px;
}

.left-menu a, .right-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.box {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(20, 16, 16, 0.1);
    text-align: center;
    
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subheading {
    font-size: 18px;
    color: #666;
}
