* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e4c90;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.checkout-container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    align-items: flex-start;
    width: 30%;
}

.checkout-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

