* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #236cac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.checkout-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.checkout-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-subheader {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.card-number-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirm-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.order-summary {
    text-align: left;
    height: 100%;
    padding: 10px;
}
.bg{
    background-color: #e3e5ea;
    width: 50%;
    margin-left: 20px;
    height: 200%;
}
.heading{
    font: 30px bold;
    margin-bottom: 10px;
    border-bottom: 10px #0c0d0d;
}
.order-summary-item {
    margin-bottom: 10px;
    border-bottom: 10px #161616;
}